@charset "UTF-8";
@font-face {
  font-family: "Gen";
  src: url("../fonts/GenBkBasB.ttf");
}
@font-face {
  font-family: "Yes";
  src: url("../fonts/YesevaOne-Regular_v2.otf");
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
}
* {
  margin: 0;
}

ul {
  padding-inline-start: 0px;
}

.header {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 900px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.logo-img {
  filter: invert(1);
}

.logo-text {
  color: white;
  font-family: "Yes";
  font-size: 30px;
  position: absolute;
  margin-top: 5px;
}

.navbar-limiter {
  display: flex;
  width: 1500px;
  justify-content: space-around;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, black 120%);
  position: absolute;
  top: 0px;
  width: 100%;
}

.hamburger {
  display: none;
}
.hamburger .bar {
  display: block;
  width: 40px;
  height: 5px;
  margin: 10px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #cc9900;
}

.header-social {
  height: 20px;
  cursor: pointer;
  align-self: center;
  margin-left: -200px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  display: flex;
  list-style-type: none;
  width: 100%;
  padding: 0px 20px;
  height: 95%;
  align-items: center;
}
.nav-item:hover {
  border-top: 5px solid white;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-family: "Yes";
  font-size: 20px;
}

.header-h1 {
  color: white;
  font-family: "Yes";
  font-size: 6vw;
  font-weight: normal;
  text-shadow: 1px 2px black;
  width: 70%;
  margin: auto;
  text-align: center;
  position: relative;
  top: 30%;
}

.header-decor {
  position: relative;
  width: 100%;
  top: 35%;
  text-align: center;
}

.btn-component {
  display: flex;
  position: relative;
  justify-content: center;
  top: 40%;
}

.btn-book {
  width: 300px;
  height: 70px;
  color: white;
  font-size: larger;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.5);
  margin-right: 30px;
}
.btn-book:hover {
  cursor: pointer;
}
.btn-book:hover {
  background: black;
}

.btn-see {
  width: 300px;
  height: 70px;
  color: white;
  font-size: larger;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.25);
}
.btn-see:hover {
  cursor: pointer;
}
.btn-see:hover {
  color: black;
  background: white;
}

.header-breadcrumb {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 350px;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.breadcrumb-head-h1 {
  font-size: 90px;
  color: white;
  text-shadow: 1px 2px black;
}

.breadcrumb {
  font-family: "Lato";
}
.breadcrumb .breadcrumb-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.breadcrumb .breadcrumb-li {
  font-size: 18px;
}
.breadcrumb #current-page {
  color: white;
}
.breadcrumb .breadcrumb-a {
  color: #cc9900;
  text-decoration: none;
}
.breadcrumb .breadcrumb-a::after {
  padding: 8px;
  padding-right: 0;
  color: white;
  content: "| ";
}
.breadcrumb .breadcrumb-a:hover {
  color: #664d00;
}

@media only screen and (max-width: 1400px) {
  .header {
    height: 800px;
  }

  .header-social {
    margin-left: 0;
  }
}
@media only screen and (max-width: 1050px) {
  .header {
    height: 700px;
  }

  .nav-link {
    font-size: 16px;
  }

  .nav-item {
    padding: 0px 15px;
  }
}
@media only screen and (max-width: 900px) {
  .header {
    height: 600px;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: -20px;
    flex-direction: column;
    background-color: #cc9900;
    width: 100%;
    padding: 100px 0px 550px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 10;
  }
  .nav-menu.active {
    left: 0;
  }

  .logo {
    margin-left: -15%;
  }

  .nav-link {
    width: 50%;
    margin: auto;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid white;
  }

  .nav-final {
    border-bottom: 1px solid #cc9900;
  }

  .nav-item {
    width: 100%;
    padding: 5px;
  }
  .nav-item:hover {
    border-top: none;
  }

  .hamburger {
    position: absolute;
    display: block;
    cursor: pointer;
    z-index: 15;
    top: 20px;
    right: 30px;
  }

  .hamburger.active {
    width: 100%;
    margin: auto;
    right: auto;
    position: fixed;
  }

  .hamburger.active .bar {
    background-color: white;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  }
}
@media screen and (max-width: 650px) {
  .header-social {
    margin-right: 50px;
  }

  .btn-book,
.btn-see {
    width: 200px;
  }

  .logo {
    margin-left: -10%;
  }
}
@media screen and (max-width: 500px) {
  .header-social {
    margin-right: 70px;
  }

  .breadcrumb-head-h1 {
    font-size: 50px;
  }

  .btn-component {
    flex-direction: column;
  }

  .btn-book,
.btn-see {
    width: 80%;
    margin: 10px auto;
  }

  .logo {
    margin-left: -5%;
  }

  .logo-img {
    width: 80%;
  }

  .logo-text {
    font-size: 25px;
  }
}
@media screen and (max-width: 350px) {
  .breadcrumb-head-h1 {
    font-size: 40px;
  }
}
.right-food-container {
  width: 100%;
  font-family: "Yes";
  background-image: url("../img/background-food.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.right-food {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.right-food-text {
  text-align: center;
  padding-top: 30px;
}

.right-food-h1 {
  font-size: 40px;
  color: #cc9900;
  font-weight: normal;
}

.right-food-p {
  width: 500px;
  margin: 30px auto;
  font-family: "Lato";
  text-align: center;
  line-height: 25px;
  font-size: 18px;
  color: #4c4c4c;
}

@media screen and (max-width: 1200px) {
  .right-food {
    flex-direction: column;
  }

  .right-food-img {
    margin: auto;
  }
}
@media screen and (max-width: 650px) {
  .right-food-dish {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .right-food-p {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .right-food-h1 {
    font-size: 35px;
  }

  .right-food-decor {
    width: 90%;
  }

  .right-food-cook {
    width: 70%;
  }
}
.fine-ingredients-container {
  width: 100%;
  font-family: "Yes";
  background-image: url("../img/bg-ing.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px 0px;
}

.fine-ingredients {
  position: relative;
  top: 15%;
  left: 50%;
  width: 35%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 70px 0px;
}

.fine-h1 {
  font-weight: normal;
  font-size: 40px;
}

.fine-p {
  font-family: "Lato";
  line-height: 25px;
  font-size: 18px;
  margin: 0px auto 50px;
  padding: 0px 100px;
  text-align: center;
  color: #dde0df;
}

.fine-img {
  margin: 20px;
}

@media screen and (max-width: 1720px) {
  .fine-p {
    padding: 0px 50px;
  }
}
@media screen and (max-width: 1440px) {
  .fine-ingredients {
    left: 25%;
    width: 50%;
  }
}
@media screen and (max-width: 1200px) {
  .fine-ingredients {
    left: 15%;
    width: 70%;
  }
}
@media screen and (max-width: 800px) {
  .fine-ingredients {
    left: 10%;
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .fine-p {
    margin-bottom: 10px;
  }

  .fine-img {
    margin: 10px;
  }
}
@media screen and (max-width: 500px) {
  .fine-ingredients-container {
    height: 700px;
  }

  .fine-ingredients {
    padding: 30px 0px;
  }

  .fine-p {
    padding: 0px 20px;
  }

  .fine-img {
    width: 20%;
  }

  .fine-decor {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .fine-p {
    font-size: 14px;
  }
}
.menu-container {
  width: 100%;
  font-family: "Yes";
  background-image: url("../img/background-food.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #cc9900;
}

.menu-limiter {
  display: flex;
  width: 1400px;
  padding: 50px 0px;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu {
  width: 500px;
  text-align: center;
  padding: 30px 0px;
}

.menu-h1 {
  font-weight: normal;
  font-size: 40px;
}

.menu-item {
  line-height: 30px;
  margin-bottom: 20px;
}

.menu-food {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cc9900;
}

.menu-h2 {
  font-weight: normal;
}

.menu-p {
  font-family: "Lato";
  color: black;
  text-align: start;
}

.menu-special {
  padding: 5px;
  border: 1px solid #cc9900;
}

.special {
  position: relative;
  background-color: #cc9900;
  color: white;
  width: 80px;
  height: 22px;
  right: -420px;
  font-family: "Lato";
}

.menu-arrow-down,
.menu-arrow-up {
  position: relative;
  top: 15px;
  right: 25px;
  display: none;
  font-weight: 900;
  font-size: 30px;
}

@media screen and (max-width: 1440px) {
  .menu-limiter {
    width: auto;
  }
}
@media screen and (max-width: 1050px) {
  .menu-limiter {
    flex-direction: column;
  }

  .menu {
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .menu-decor {
    display: none;
  }

  .menu-limiter {
    flex-direction: column;
    width: 100%;
  }

  .menu {
    margin: auto;
    padding: 0;
  }

  .menu-h1 {
    margin: 10px 0px;
  }

  .menu-arrow-down {
    display: block;
  }

  .menu.active .menu-content {
    height: auto;
  }

  .menu.active .menu-arrow-down {
    display: none;
  }

  .menu.active .menu-arrow-up {
    display: block;
  }

  .menu-head {
    border-bottom: 1px solid #cc9900;
    text-align: start;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  .menu-content {
    margin: 10px 0px;
    height: 0;
    overflow: hidden;
  }
}
@media screen and (max-width: 550px) {
  .menu {
    width: 90%;
  }

  .special {
    right: -75%;
  }
}
@media screen and (max-width: 400px) {
  .menu-h1 {
    font-size: 30px;
  }

  .menu-arrow-down,
.menu-arrow-up {
    font-size: 20px;
  }
}
.reviews-container {
  width: 100%;
  font-family: "Yes";
  background-image: url("../img/bg-rev.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
  color: white;
}

.review {
  position: relative;
  top: 15%;
  left: 25%;
  width: 50%;
  background-image: url("../img/guest-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 5% 0;
}

.review-h1 {
  font-weight: normal;
  font-size: 40px;
}

.review-p {
  margin: 0px auto 30px;
  padding: 0px 10%;
  text-align: center;
  line-height: 45px;
  font-size: 25px;
  color: #dde0df;
}

.review-span {
  font-family: "Lato";
  color: #dde0df;
}

@media screen and (max-width: 1500px) {
  .review {
    left: 15%;
    width: 70%;
  }
}
@media screen and (max-width: 1000px) {
  .review {
    left: 10%;
    width: 80%;
  }
}
@media screen and (max-width: 730px) {
  .review-p {
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .review-decor {
    width: 100%;
  }
}
.desert-container {
  width: 100%;
  font-family: "Yes";
  background-image: url("../img/background-food.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.desert-limiter {
  display: flex;
  padding: 100px 0px;
  justify-content: center;
}

.desert-left {
  display: flex;
  flex: 0 0 35%;
  justify-content: space-evenly;
}

.desert-right {
  flex: 0 0 35%;
  text-align: center;
}

.desert-h1 {
  color: #cc9900;
  font-weight: normal;
  font-size: 40px;
}

.desert-p {
  font-family: "Lato";
  width: 500px;
  margin: auto;
  line-height: 25px;
  color: #4c4c4c;
}

.desert-label {
  color: #cc9900;
  margin: 10px 0px;
}

.desert-form {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-evenly;
  text-align: start;
  font-family: "Lato";
  font-weight: bold;
}

.desert-input {
  width: 200px;
  height: 30px;
  outline: none;
  border: 1px solid #ccc;
  padding-left: 10px;
}
.desert-input:focus {
  border: 1px solid #cc9900;
}
.desert-input::placeholder {
  font-style: italic;
}

.desert-item {
  margin-bottom: 30px;
  line-height: 25px;
}

.desert-btn {
  background-color: #cc9900;
  width: 200px;
  height: 30px;
  border: none;
  font-family: "Lato";
  color: white;
}
.desert-btn:hover {
  background-color: #664d00;
}

@media screen and (max-width: 1700px) {
  #desert-left-img {
    margin-right: 10px;
  }
}
@media screen and (max-width: 1100px) {
  #desert-left-img {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .desert-left {
    display: none;
  }

  .desert-right {
    flex: 0 0 100%;
  }
}
@media screen and (max-width: 530px) {
  .desert-form {
    flex-direction: column;
  }

  .desert-item {
    width: 90%;
    margin: auto;
  }

  .desert-input {
    width: 95%;
  }

  .desert-p {
    width: 90%;
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 320px) {
  .desert-decor {
    width: 100%;
  }

  .desert-h1 {
    font-size: 30px;
  }
}
.footer-container {
  width: 100%;
  font-family: "Yes";
  background-color: #191919;
  color: white;
}

.footer-limiter {
  display: flex;
  padding: 50px 0px;
  justify-content: space-evenly;
  text-align: center;
}

.footer-h1 {
  font-weight: normal;
}

.footer-p {
  font-family: "Lato";
  width: 400px;
  line-height: 25px;
}

.footer-social {
  margin-top: 50px;
}

@media screen and (max-width: 1200px) {
  .footer-limiter {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer-left {
    order: -1;
    flex: 1 0 100%;
    margin-bottom: 50px;
  }
  .footer-left .footer-p {
    margin: auto;
  }
}
@media screen and (max-width: 800px) {
  .footer-middle {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 450px) {
  .footer-p {
    width: 90%;
    margin: auto;
  }

  .footer-decor {
    width: 90%;
  }
}
#about-header {
  background-image: url(../img/aboutbg.png);
  height: 500px;
}

.about-gradient {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, black 150%);
  position: absolute;
  top: 200px;
  height: 300px;
  width: 100%;
}

.about-text {
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}

.about-text-decor {
  margin: 30px auto;
}

.about-text-h1 {
  color: #cc9900;
  font-size: 40px;
  font-weight: 400;
  font-family: "Yes";
  margin-bottom: 50px;
}

.about-text-p {
  margin: auto;
  width: 50%;
  text-align: start;
  margin-bottom: 20px;
  font-family: "Lato";
  color: #4c4c4c;
}

.about-text-a {
  color: #cc9900;
  text-decoration: none;
}
.about-text-a:hover {
  text-decoration: underline;
}

.about-gallery {
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}

.gallery-decor {
  margin: 30px auto;
}

.gallery-h1 {
  color: #cc9900;
  font-size: 40px;
  font-weight: 400;
  font-family: "Yes";
  margin-bottom: 50px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
  margin: auto;
}

.gallery-img {
  margin: 10px;
  transition: all 0.5s ease;
}
.gallery-img:hover {
  filter: brightness(50%);
  transition: all 0.5s ease;
  cursor: pointer;
}

.mySwiper.active {
  display: block;
}

.swiper {
  display: none;
  width: 100%;
  height: 80%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  display: block;
  width: 200px;
  height: 50px;
}

.swiper-pagination-bullet {
  background-color: #cc9900;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: black;
}

@media screen and (max-width: 900px) {
  .about-head-h1 {
    font-size: 60px;
  }

  .header-breadcrumb {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
  }

  .about-text-p {
    width: 90%;
  }
}
@media screen and (max-width: 520px) {
  .gallery {
    display: none;
  }

  .swiper {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .about-head-h1 {
    font-size: 50px;
  }

  .breadcrumb {
    display: none;
  }
}
.background-big-image {
  background-image: url(../img/backgroundabout.png);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jelly-beans {
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}

.jelly-div {
  display: flex;
  flex-direction: column;
  font-family: "Yes";
}

.jelly-left {
  display: flex;
  justify-content: space-evenly;
}

.jelly-right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.jelly-right-1,
.jelly-right-2 {
  flex: 0 0 30%;
}

.jelly-img {
  margin-bottom: 50px;
}

.jelly-h1 {
  color: #cc9900;
  font-size: 40px;
  margin-bottom: 30px;
}

.jelly-p {
  width: auto;
  margin: auto;
  margin-bottom: 20px;
  color: #4c4c4c;
  font-family: "Lato";
  text-align: start;
}

.candy-canes {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.candy-back {
  background-image: url(../img/candy-canes.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70%;
  margin: auto;
  padding: 70px;
}

.candy-div {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 50px;
}

.candy-h1 {
  color: white;
  font-size: 50px;
  font-weight: 500;
  font-family: "Yes";
}

.candy-p {
  color: #dde0df;
  text-align: start;
  font-size: 25px;
  font-family: "Gen";
  line-height: 40px;
}

.cookies {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 100px;
}

.cookies-right,
.cookies-left {
  flex: 0 0 35%;
}

.cookies-h1 {
  color: #cc9900;
  font-size: 40px;
  margin-bottom: 30px;
}

.cookies-p {
  width: auto;
  margin: auto;
  margin-bottom: 20px;
  color: #4c4c4c;
  font-size: 20px;
  font-family: "Lato";
  text-align: start;
}

@media screen and (max-width: 1050px) {
  .jelly-img {
    width: 300px;
  }

  .candy-div {
    width: 90%;
    padding: 30px;
  }

  .candy-p {
    text-align: center;
  }

  .cookies-img {
    width: 400px;
  }

  .cookies-p {
    font-size: 16px;
  }
}
@media screen and (max-width: 650px) {
  .jelly-img {
    width: 40%;
  }

  .jelly-right {
    flex-direction: column;
  }

  .jelly-p {
    width: 90%;
  }

  .candy-canes {
    margin-bottom: 50px;
  }

  .candy-back {
    width: auto;
    padding: 30px;
  }

  .candy-div {
    width: auto;
  }

  .candy-p {
    font-size: 20px;
    line-height: 35px;
  }

  .cookies {
    flex-direction: column;
  }

  .cookies-left {
    order: 2;
  }

  .cookies-img {
    width: 100%;
  }

  .cookies-p {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  .candy-h1 {
    font-size: 35px;
  }

  .candy-decor {
    width: 100%;
  }

  .candy-p {
    line-height: 30px;
  }
}
@media screen and (max-width: 350px) {
  .candy-p {
    font-size: 16px;
    line-height: 25px;
  }
}
.menu-main-container {
  display: flex;
  justify-content: center;
}

.menu-selector {
  display: flex;
  flex-direction: column;
  font-family: "Yes";
  flex: 0 0 20%;
}

.menu-submenu {
  border-bottom: 1px solid #cc9900;
  color: #cc9900;
  font-size: 40px;
  margin: 10px;
}
.menu-submenu:hover {
  background-color: rgba(204, 153, 0, 0.2);
}

.menu-view {
  flex: 0 0 60%;
}