@font-face {
  font-family: "Gen";
  src: url("../fonts/GenBkBasB.ttf");
}
@font-face {
  font-family: "Yes";
  src: url("../fonts/YesevaOne-Regular_v2.otf");
}
* {
  margin: 0;
}

ul {
  padding-inline-start: 0px;
}

.background-img {
  z-index: -1;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0px;
}

.logo-img {
  filter: invert(1);
}

.logo-text {
  flex: 0 0 10px;
  color: white;
  font-family: "Yes";
  font-size: 35px;
  position: absolute;
}

.navbar {
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
}

.hamburger {
  display: none;
}
.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: green;
}

.header-social {
  height: 20px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-menu .nav-item {
  list-style-type: none;
  margin: 0 20px;
}
.nav-menu .nav-item .nav-link {
  color: white;
  text-decoration: none;
  font-family: "Yes";
}
.nav-menu .nav-item .nav-link:hover {
  color: green;
}
.nav-menu .nav-item .nav-link:focus {
  color: green;
}

@media screen and (max-width: 1024px) {
  .background-img {
    object-fit: cover;
    height: 400px;
  }
}
@media only screen and (max-width: 750px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: -20px;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 50px 0px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding: 0;
    z-index: 10;
  }
  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    width: 100%;
  }

  .menu-item {
    padding: 5px;
  }

  .hamburger {
    position: absolute;
    display: block;
    cursor: pointer;
    z-index: 15;
    top: 10px;
    right: 20px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}