@font-face {
  font-family: "Gen";
  src: url("../fonts/GenBkBasB.ttf");
}
@font-face {
  font-family: "Yes";
  src: url("../fonts/YesevaOne-Regular_v2.otf");
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
}
* {
  margin: 0;
}

ul {
  padding-inline-start: 0px;
}

.header {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 900px;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0px;
}

.logo-img {
  filter: invert(1);
}

.logo-text {
  flex: 0 0 10px;
  color: white;
  font-family: "Yes";
  font-size: 35px;
  position: absolute;
}

.navbar-limiter {
  display: flex;
  width: 1500px;
  justify-content: space-around;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, black 150%);
  position: absolute;
  top: 0px;
  width: 100%;
}

.hamburger {
  display: none;
}
.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #dab33e;
}

.header-social {
  height: 20px;
  cursor: pointer;
  align-self: center;
  margin-left: -200px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  display: flex;
  list-style-type: none;
  width: 100%;
  padding: 0px 20px;
  height: 95%;
  align-items: center;
}
.nav-item:hover {
  border-top: 5px solid white;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-family: "Yes";
  font-size: 20px;
}

.header-h1 {
  color: white;
  font-family: "Yes";
  font-size: 110px;
  font-weight: normal;
  text-shadow: 1px 2px black;
  width: 70%;
  margin: auto;
  text-align: center;
  position: relative;
  top: 30%;
}

.header-decor {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
}

.btn-book {
  width: 300px;
  height: 70px;
  color: white;
  background-color: transparent;
  position: absolute;
  font-size: larger;
  top: 75%;
  left: 40%;
  transform: translate(-40%, -75%);
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.5);
}
.btn-book:hover {
  cursor: pointer;
}
.btn-book:hover {
  background: black;
}

.btn-see {
  width: 300px;
  height: 70px;
  color: white;
  background-color: transparent;
  position: absolute;
  font-size: larger;
  top: 75%;
  left: 60%;
  transform: translate(-60%, -75%);
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.25);
}
.btn-see:hover {
  cursor: pointer;
}
.btn-see:hover {
  color: black;
  background: white;
}

@media screen and (max-width: 1024px) {
  .background-img {
    object-fit: cover;
    height: 400px;
  }
}
@media only screen and (max-width: 900px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: -20px;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 50px 0px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding: 0;
    z-index: 10;
  }
  .nav-menu.active {
    left: 0;
  }

  .nav-link {
    color: black;
  }

  .nav-item {
    width: 100%;
    padding: 5px;
  }

  .hamburger {
    position: absolute;
    display: block;
    cursor: pointer;
    z-index: 15;
    top: 10px;
    right: 20px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
.right-food-container {
  width: 100%;
  font-family: "Yes";
  background-image: url("../img/background-food.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.right-food {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.right-food-text {
  flex: 0 0 30%;
  text-align: center;
  margin-left: 20%;
  padding-top: 30px;
}

.right-food-h1 {
  font-size: 40px;
  color: #dab33e;
  font-weight: normal;
}

.right-food-p {
  width: 500px;
  margin: 30px auto;
  font-family: "Lato";
  text-align: center;
  line-height: 25px;
  font-size: 18px;
  color: #4c4c4c;
}

.right-food-cook {
  margin: 5% 0 0 10%;
}

.right-food-img {
  flex: 0 0 50%;
}

.fine-ingredients-container {
  width: 100%;
  font-family: "Yes";
  background-image: url("../img/bg-ing.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 900px;
}

.fine-ingredients {
  position: relative;
  top: 20%;
  left: 55%;
  width: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 70px 0px;
}

.fine-h1 {
  font-weight: normal;
  font-size: 40px;
}

.fine-p {
  font-family: "Lato";
  width: 500px;
  margin: 30px auto;
  font-family: "Lato";
  text-align: center;
  line-height: 25px;
  font-size: 18px;
}

.fine-img {
  margin: 20px;
}

.menu-container {
  width: 100%;
  font-family: "Yes";
  background-image: url("../img/background-food.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #dab33e;
}

.menu-limiter {
  display: flex;
  flex-wrap: wrap;
  width: 1400px;
  margin: auto;
  justify-content: space-evenly;
}

.appetisers {
  width: 500px;
  text-align: center;
  margin: 100px 0;
}

.appetisers-h1 {
  font-weight: normal;
  font-size: 40px;
}

.appetisers-item {
  line-height: 30px;
  margin-bottom: 20px;
}

.appetisers-name {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dab33e;
}

.appetisers-h2 {
  font-weight: normal;
}

.appetisers-p {
  font-family: "Lato";
  color: black;
  text-align: start;
}

.reviews-container {
  width: 100%;
  font-family: "Yes";
  background-image: url("../img/bg-rev.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  color: white;
}

.review {
  position: relative;
  top: 20%;
  left: 25%;
  width: 50%;
  background-image: url("../img/guest-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 70px 0px;
}

.review-h1 {
  font-weight: normal;
  font-size: 40px;
}

.review-p {
  margin: 0px auto 30px;
  padding: 0px 100px;
  text-align: center;
  line-height: 45px;
  font-size: 24px;
  color: #dde0df;
}

.review-span {
  font-family: "Lato";
  color: #dde0df;
}

.desert-container {
  width: 100%;
  font-family: "Yes";
  background-image: url("../img/background-food.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.desert-limiter {
  display: flex;
  padding: 50px 0px;
  justify-content: center;
}

.desert-left {
  display: flex;
  flex: 0 0 35%;
  justify-content: space-evenly;
}

.desert-right {
  flex: 0 0 35%;
  text-align: center;
}

.desert-h1 {
  color: #dab33e;
  font-weight: normal;
  font-size: 40px;
}

.desert-p {
  font-family: "Lato";
  width: 500px;
  margin: auto;
}

.desert-form {
  margin: 20px;
}

.footer-container {
  width: 100%;
  font-family: "Yes";
  background-color: #191919;
  height: 500px;
  color: white;
}

.footer-limiter {
  display: flex;
  padding: 50px 0px;
  justify-content: space-evenly;
  text-align: center;
}

.footer-h1 {
  font-weight: normal;
}

.footer-p {
  font-family: "Lato";
  width: 400px;
  line-height: 25px;
}

.footer-social {
  margin-top: 50px;
}