.footer-container {
  width: 100%;
  font-family: "Yes";
  background-color: $black;
  color: white;
}
.footer-limiter {
  display: flex;
  padding: 50px 0px;
  justify-content: space-evenly;
  text-align: center;
}

.footer-h1 {
  font-weight: normal;
}

.footer-p {
  font-family: "Lato";
  width: 400px;
  line-height: 25px;
}

.footer-social {
  margin-top: 50px;
}

@media screen and (max-width: 1200px) {
  .footer-limiter {
    flex-direction: column;
  }
  .footer-left,
  .footer-middle,
  .footer-right {
    margin: auto;
    margin-bottom: 20px;
  }

  .footer-middle,
  .footer-right {
    flex-direction: row;
  }
}
@media screen and (max-width: 800px) {
  .footer-right {
    // margin-top: 50px;
  }
}

@media screen and (max-width: 450px) {
  .footer-p {
    width: auto;
  }
  .footer-decor {
    width: 90%;
  }
}
