@mixin btn {
  width: 300px;
  height: 70px;
  color: white;
  font-size: larger;

  &:hover {
    cursor: pointer;
  }
}

ul {
  padding-inline-start: 0px;
}

.header {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 900px;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0px;
}

.logo-img {
  filter: invert(1);
}

.logo-text {
  color: white;
  font-family: "Yes";
  font-size: 35px;
  position: absolute;
}

.navbar-limiter {
  display: flex;
  width: 1500px;
  justify-content: space-around;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0,
    rgba(0, 0, 0, 1) 150%
  );
  position: absolute;
  top: 0px;
  width: 100%;
}

.hamburger {
  display: none;

  .bar {
    display: block;
    width: 50px;
    height: 5px;
    margin: 10px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $yellow;
  }
}

.header-social {
  height: 20px;
  cursor: pointer;
  align-self: center;
  margin-left: -200px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  display: flex;
  list-style-type: none;
  width: 100%;
  padding: 0px 20px;
  height: 95%;
  align-items: center;

  &:hover {
    border-top: 5px solid white;
  }
}

.nav-link {
  color: white;
  text-decoration: none;
  font-family: "Yes";
  font-size: 20px;
}

.header-h1 {
  color: white;
  font-family: "Yes";
  font-size: 6vw;
  font-weight: normal;
  text-shadow: 1px 2px black;
  width: 70%;
  margin: auto;
  text-align: center;
  position: relative;
  top: 30%;
}

.header-decor {
  position: relative;
  width: 100%;
  top: 35%;
  text-align: center;
}

.btn-component {
  display: flex;
  position: relative;
  justify-content: center;
  top: 40%;
}

.btn-book {
  @include btn();
  border: 1px solid black;
  background: rgba(black, 0.5);
  margin-right: 30px;

  &:hover {
    background: rgba(black, 1);
  }
}

.btn-see {
  @include btn();
  border: 1px solid white;
  background: rgba(white, 0.25);

  &:hover {
    color: black;
    background: rgba(white, 1);
  }
}

@media only screen and (max-width: 1400px) {
  .header {
    height: 800px;
  }
  .header-social {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1050px) {
  .header {
    height: 700px;
  }
  .nav-link {
    font-size: 16px;
  }
  .nav-item {
    padding: 0px 15px;
  }
}

@media only screen and (max-width: 900px) {
  .header {
    height: 600px;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: -20px;
    flex-direction: column;
    background-color: $yellow;
    width: 100%;
    padding: 100px 0px 550px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 10;

    &.active {
      left: 0;
    }
  }

  .nav-link {
    width: 50%;
    margin: auto;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid white;
  }

  .nav-final {
    border-bottom: 1px solid $yellow;
  }

  .nav-item {
    width: 100%;
    padding: 5px;

    &:hover {
      border-top: none;
    }
  }

  .hamburger {
    position: absolute;
    display: block;
    cursor: pointer;
    z-index: 15;
    top: 20px;
    right: 30px;
  }

  .hamburger.active {
    width: 100%;
    margin: auto;
    right: auto;
    position: fixed;
  }

  .hamburger.active .bar {
    background-color: white;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  }
}

@media screen and (max-width: 650px) {
  .header-social {
    margin-right: 50px;
  }
  .btn-book,
  .btn-see {
    width: 200px;
  }
}
@media screen and (max-width: 500px) {
  .header-social {
    margin-right: 70px;
  }
  .btn-component {
    flex-direction: column;
  }
  .btn-book,
  .btn-see {
    width: 80%;
    margin: 10px auto;
  }
}
