.fine-ingredients-container {
  width: 100%;
  font-family: "Yes";
  background-image: url("../img/bg-ing.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 50vw;
}
.fine-ingredients {
  position: relative;
  top: 20%;
  left: 55%;
  width: 30%;
  background-color: rgba($color: black, $alpha: 0.6);
  text-align: center;
  padding: 70px 0px;
}
.fine-h1 {
  font-weight: normal;
  font-size: 40px;
}
.fine-p {
  font-family: "Lato";
  line-height: 25px;
  font-size: 18px;
  margin: 0px auto 30px;
  padding: 0px 100px;
  text-align: center;
  color: $lightgray;
}
.fine-img {
  margin: 20px;
}
