.background-big-image {
  background-image: url(../img/backgroundabout.png);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jelly-beans {
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}

.jelly-div {
  display: flex;
  flex-direction: column;
  font-family: "Yes";
}

.jelly-left {
  display: flex;
  justify-content: space-evenly;
}

.jelly-right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.jelly-right-1,
.jelly-right-2 {
  flex: 0 0 30%;
}
.jelly-img {
  margin-bottom: 50px;
}

.jelly-h1 {
  color: $yellow;
  font-size: 40px;
  margin-bottom: 30px;
}

.jelly-p {
  width: auto;
  margin: auto;
  margin-bottom: 20px;
  color: $gray;
  font-family: "Lato";
  text-align: start;
}

.candy-canes {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}
.candy-back {
  background-image: url(../img/candy-canes.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70%;
  margin: auto;
  padding: 70px;
}

.candy-div {
  width: 60%;
  background-color: rgba($color: black, $alpha: 0.6);
  padding: 50px;
}
.candy-h1 {
  color: white;
  font-size: 50px;
  font-weight: 500;
  font-family: "Yes";
}
.candy-p {
  color: $lightgray;
  text-align: start;
  font-size: 25px;
  font-family: "Gen";
  line-height: 40px;
}

.cookies {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 100px;
}
.cookies-right,
.cookies-left {
  flex: 0 0 35%;
}

.cookies-h1 {
  color: $yellow;
  font-size: 40px;
  margin-bottom: 30px;
}
.cookies-p {
  width: auto;
  margin: auto;
  margin-bottom: 20px;
  color: $gray;
  font-size: 20px;
  font-family: "Lato";
  text-align: start;
}

@media screen and (max-width: 1050px) {
  .jelly-img {
    width: 300px;
  }
  .candy-div {
    width: 90%;
    padding: 30px;
  }
  .candy-p {
    text-align: center;
  }
  .cookies-img {
    width: 400px;
  }
  .cookies-p {
    font-size: 16px;
  }
}

@media screen and (max-width: 650px) {
  .jelly-img {
    width: 40%;
  }
  .jelly-right {
    flex-direction: column;
  }
  .jelly-p {
    width: 90%;
  }
  .candy-back {
    width: auto;
    padding: 30px;
  }
  .candy-div {
    width: auto;
  }
  .candy-p {
    font-size: 20px;
    line-height: 35px;
  }
  .cookies {
    flex-direction: column;
  }
  .cookies-left {
    order: 2;
  }
  .cookies-img {
    width: 100%;
  }
  .cookies-p {
    width: 90%;
  }
}

@media screen and (max-width: 450px) {
  .candy-h1 {
    font-size: 35px;
  }
  .candy-decor {
    width: 100%;
  }
  .candy-p {
    line-height: 30px;
  }
}
@media screen and (max-width: 350px) {
  .candy-p {
    font-size: 16px;
    line-height: 25px;
  }
}
