.menu-main-container {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
  position: relative;
}

.menu-selector {
  display: flex;
  top: 70px;
  flex-direction: column;
  font-family: "Yes";
  margin-right: 50px;
  flex: 0 0 20%;
  z-index: 5;
}
.menu-submenu {
  border-bottom: 1px solid $yellow;
  color: $yellow;
  font-size: 40px;
  padding: 10px;

  &:hover {
    background: lighten($color: $yellow, $amount: 50);
    cursor: pointer;
  }
  &.show {
    background-color: transparentize($color: $yellow, $amount: 0.8);
  }
}
.menu-view {
  display: none;
  flex: 0 0 50%;

  &.show {
    display: block;
  }
}
.menu-h2 {
  color: $yellow;
  font-size: 25px;
  font-family: "Yes";
  font-weight: normal;
}
.item-special {
  position: relative;
  background-color: $yellow;
  color: white;
  width: 80px;
  height: 22px;
  margin-left: auto;
  margin-right: 0;
  text-align: center;
  font-family: "Lato";
}
.menu-img {
  width: 100%;
  margin-top: 20px;
}

.menu-description {
  text-align: center;
  margin-top: 30px;
}
.desc-h1 {
  color: $yellow;
  font-size: 40px;
  margin-bottom: 30px;
  font-family: "Yes";
  font-weight: normal;
}
.desc-p {
  font-size: 18px;
  font-family: "Lato";
  margin-bottom: 30px;
  text-align: start;
  color: $gray;
}

.menu-select {
  width: auto;
  border-bottom: 1px solid $yellow;
  color: $yellow;
  padding: 10px;
  cursor: pointer;
  display: none;
}

.menu-select-title {
  font-weight: normal;
  font-size: 30px;
  font-family: "Yes";
}

.menu-select-down,
.menu-select-up {
  position: relative;
  display: none;
  width: 50px;
  float: right;
  filter: invert(61%) sepia(51%) saturate(3956%) hue-rotate(19deg)
    brightness(101%) contrast(101%);

  &.present {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .menu-main-container {
    flex-direction: column;
  }
  .menu-selector {
    flex-direction: row;
    width: 100%;
  }
  .menu-submenu {
    font-size: 3.5vw;
    border-top: 1px solid $yellow;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
  }
  .menu-view {
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
}

@media screen and (max-width: 500px) {
  .menu-main-container {
    padding-top: 0;
  }
  .menu-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-selector {
    display: none;
    position: absolute;

    &.active {
      display: block;
    }
  }
  .menu-submenu {
    background-color: $yellow;
    color: white;
    border-bottom: 1px solid white;
    font-size: 25px;

    &:hover {
      color: $yellow;
    }

    &.show {
      background-color: $yellow;

      &:hover {
        background-color: lighten($color: $yellow, $amount: 50);
      }
    }
  }
}
@media screen and(max-width:300px) {
  .desc-decor {
    width: 100%;
  }
}
