@font-face {
  font-family: "Gen";
  src: url("../fonts/GenBkBasB.ttf");
}

@font-face {
  font-family: "Yes";
  src: url("../fonts/YesevaOne-Regular_v2.otf");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
}

* {
  margin: 0;
}

$yellow: #cc9900;
$gray: #4c4c4c;
$lightgray: #dde0df;
$black: #191919;

@import "./header";
@import "./rightfood";
@import "./ingredients";
@import "./menu";
@import "./reviews";
@import "./desert";
@import "./footer";
@import "./about";
