@font-face {
    font-family: "Gen";
    src: url("../fonts/GenBkBasB.ttf");
}

@font-face {
    font-family: "Yes";
    src: url("../fonts/YesevaOne-Regular_v2.otf");
}

* {
    margin: 0;
}

$yellow: #DAB33E;

@import './header';